<div>
    {{#each this}}
    <div>

        <section>
            <div>
                {{comment_text}}
            </div>
            <div>
                -{{user.username}}, {{format_date}}
            </div>
        </section>
    </div>
    {{/each}}
</div>