<div class="comments">
    <div class="card">
        <div class="card-header">
            <section class="comment">
                <div>
                    {{user.username}}
                </div>
                <div>
                    {{content}}
                </div>
            </section>
        </div>
    </div>
</div>