<h2>Dashboard: Your Posts</h2>

{{#if posts.length}}

{{#each posts as |post|}}
{{> post-info post}}

<a href="/dashboard/edit/{{post.id}}">Edit Post</a>

{{/each}}

{{else}}

<h4>You do not have any posts</h4>

{{/if}}