<h3>Edit Post</h3>

<form>
    <label>Post Title</label>
    <input name="post-title" type="text" value="{{post.title}}" class="form-input" />

    <label>Post Content</label>
    <input name="content" type="text" value="{{post.content}}" class="form-input" />

    <button type="submit" class="btn">Update Post</button>
    <button type="button" class="delete-post-btn btn">Delete Post</button>
</form>

<script src="/public/js/edit-post.js"></script>
<script src="/public/js/delete-post.js"></script>